.footerWrapper {
  color: #202020;
  text-align: center;
  padding: 2em;
  padding-bottom: 4em;
  background-color: #F1F1F1;
}

.footerWrapper p {
  color: #202020;
}

.iconContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.footerWrapper img {
  padding: 0 1em;
  transition: all .2s ease-in-out;
}

.footerWrapper img:hover {
  transform: scale(1.05);
}
