.dropdownContainer {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin: 0;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  animation: fadeIn 1.0s linear;
  position: absolute;
  z-index: 2;
  padding: 0 0 1em 0;
  text-align: center;
}

.dropdownContainer a {
  box-sizing: border-box;
    margin: .4em 0 .4em 0;
}

.dropdownContainer a:hover {
  cursor: pointer;
}
