.projectCardWrapper {
  position: relative;
  box-sizing: border-box;
  height: 346px;
  width: 300px;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 20px;
  border-radius: 10px;

}

.cardContent {
  box-sizing: border-box;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cardContent h3 {
  font-weight: 100;
  /* font-family: 'Permanent Marker', cursive; */
  font-size: 1.8rem;
  color: #ffffff;
}

.cardContent p {
  color: #b8b8b8;
}

.gray {
  background-color: gray;
}

.cardText {
  margin-bottom: 20px;
}

.cardImage {
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid #282828;
  width: 250px;
  height: 200px;
  overflow: hidden;
  margin-bottom: 10px;
}

.cardImage img {
  width: 100%;
}

.cardOverlay {
  display:none;
  border: 1px solid #b8b8b8;
  position: absolute;
  top: 0px;
  z-index: 1;
  bottom: 346px;
  height: 344px;
  width: 298px;
  color: #b8b8b8;
  background-color: rgba(0, 0, 0, 0.9);
  animation: fadeIn .5s ease;
    border-radius: 10px;
    text-align: left;
}

.cardOverlay:hover {
  display: flex;
}

.cardContent:hover + .cardOverlay {
  display: flex;
}

.overlayImage img {
  width: 50px;
}

.overlayImage {
  color: #b8b8b8;
  position: absolute;
  bottom: 5px;
  left: 224px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  font-size: .8em;
}

.descriptionWrapper {
  padding: 1.5em 1em;
}

.live {
  color: white;
  position: absolute;
  top: 18px;
  left: 8px;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
