.projectCardWrapper {
  position: relative;
  box-sizing: border-box;
  height: 346px;
  width: 300px;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 20px;

}

.cardContent {
  box-sizing: border-box;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cardContent h3 {
  margin-bottom: 10px;
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
}

.cardContent p {
  color: #b8b8b8;
}

.gray {
  background-color: gray;
}

.cardText {
  margin-bottom: 20px;
}

.cardImage {
  box-sizing: border-box;
  border: 2px solid white;
  width: 250px;
  height: 200px;
  overflow: hidden;
  margin-bottom: 10px;
}

.cardImage img {
  width: 100%;
}

.cardOverlay {
  display:none;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  position: absolute;
  top: 0px;
  z-index: 1;
  bottom: 346px;
  height: 344px;
  width: 298px;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  animation: fadeIn .5s ease;
}

.cardOverlay:hover {
  display: flex;
}

.cardContent:hover + .cardOverlay {
  display: flex;
}

.overlayImage img {
  width: 50px;
}

.live {
  color: #7CD714;
  position: absolute;
  top: -24px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  border: 1px solid #7CD714;
  border-radius: 2px;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
