.projectsWrapper {

  color: white;
background-image: url("./assets/sky.jpg");
background-position: center;
background-size: cover;
display: flex;
align-items: center;
flex-direction: column;
padding: 60px 0 40px 0;
border-top: 2em solid black;
border-bottom: 1em solid black;
}

.projectsWrapper h1 {
  margin: 0;
  position: relative;
  bottom: 20px;
  font-size: 3rem;
  font-family: 'Permanent Marker', cursive;
}

.title {
  padding: 0px 0 20px 0;
}

.cardContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.line {
  height: 1px;
  background-color: rgba(255, 255, 255, 1);
  width: 95%;
}

.whiteline2 {
  position: relative;
  bottom: 100px;
}
