.projectsWrapper {
  color: #b8b8b8;
background-image: url("./assets/sky.jpg");
background-position: center;
background-size: cover;
display: flex;
align-items: center;
flex-direction: column;
padding: 2em;
border-top: 2em solid black;
border-bottom: 1em solid black;
}

.title {
  padding: 0px 0 20px 0;
}

.cardContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2em;
}

.line {
  height: 1px;
  background-color: rgba(255, 255, 255, 1);
  width: 95%;
}

.whiteline2 {
  position: relative;
  bottom: 100px;
}

.aboutMe {
  text-align: center;
  color: #b8b8b8;
  font-size: 1.2em;
}
